body{
    background-color: rgb(255, 147, 5);
}
header{
    background-color: rgb(69, 69, 196);
    border-radius: 10px;
}
table, td, tr{
    text-align: center;
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}
input{
    height: 50%;
    width: 50%;
    border-radius: 5px;
    background-color:#f8e5b7;
}
button{
    height: 50%;
    width: 50%;
    border-radius: 5px;
    background-color:#f8e5b7;
}
table{
    border-radius: 5px;
}